.bodyContent {
    margin-top: 20px;
    .cardWrapper {
        md-card {
            md-card-content {
                text-align: center;
                img {
                    height: 100%;
                    margin: 0 auto;
                    max-height: 200px;
                }
            }
            .example-header-image {
                background-image: url("../assets/dummy.jpg");
                background-size: cover;
            }
        }
    }
}